<html>
    
    <head>
        <title>ALL REVIEWKS</title>
        <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <!--<link  href ="/assets/styles.css" rel = "stylesheet" type="text/css"/>-->
  
    </head>
    
    <body>
    
    
        <h1>ALL REVIEW</h1>
        
        
    <div id ="review-table">
        
        <ul>
          <% for ( var i = 0; i< review.length; i++){ %>
          
            <li><%= review[i].review-name %></li><br>
            
         
                  
                  <% } %>
        </ul>
        
        
    </div>
    
                  <script src="/assets/todo-list.js"></script>
    
    
    </body>
</html>
