<% include ./partials/header.ejs %>

    <div class="container">
    
    
      <h1> <%= review.review-name %>        |  <%= review.priority %> </h1>
    
    </div>
    
    
<% include ./partials/footer.ejs %>


